body {
  background-color: #F9F9F9 !important;
}

.navbar.sticky-top.navbar-expand-lg.navbar-dark.font-poppins {
  background-color: #082032 !important;
}

.card-header.p-1 {
  background-color: #082032 !important;
}
.form-group.col-md-6 {
  background-color: #F9F9F9 !important;
}
.input-sm.form-control {
  background-color: #F9F9F9 !important;
}

.card-body {
  background-color: #F9F9F9 !important;
}
.card.border-dark {
  background-color: #F9F9F9 !important;
}

.input-group {
  background-color: #F9F9F9 !important;
}
.input-group-prepend {
  background-color: #F9F9F9 !important;
}
.custom-select {
  background-color: #F9F9F9 !important;
}
.custom-options {
  background-color: #F9F9F9  !important;
}


#logOutBtn {
  float: right !important;
  padding: 3px;
}

.main-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#fetchButton {
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.div-center {
  max-width: 80%;
  margin: auto;
}

.form-check {
  display: inline-block !important;
}
