<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>AMS Web Application</display-name>

<servlet>
  <servlet-name>loginAuth</servlet-name>
  <servlet-class>com.ams.loginAuth</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>loginAuth</servlet-name>
  <url-pattern>/loginAuth</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>logout</servlet-name>
  <servlet-class>com.ams.logout</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>logout</servlet-name>
  <url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>fetchStudentAttendanceStudentHome</servlet-name>
  <servlet-class>com.ams.fetchStudentAttendanceStudentHome</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>fetchStudentAttendanceStudentHome</servlet-name>
  <url-pattern>/fetchStudentAttendanceStudentHome</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>facultyHomeAttendanceUpdate</servlet-name>
  <servlet-class>com.ams.facultyHomeAttendanceUpdate</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>facultyHomeAttendanceUpdate</servlet-name>
  <url-pattern>/facultyHomeAttendanceUpdate</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>facultyHomeAttendanceFetch</servlet-name>
  <servlet-class>com.ams.facultyHomeAttendanceFetch</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>facultyHomeAttendanceFetch</servlet-name>
  <url-pattern>/facultyHomeAttendanceFetch</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>adminHomeFetch</servlet-name>
  <servlet-class>com.ams.adminHomeFetch</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>adminHomeFetch</servlet-name>
  <url-pattern>/adminHomeFetch</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>getsubjectsAdminFetch</servlet-name>
  <servlet-class>com.ams.getsubjectsAdminFetch</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>getsubjectsAdminFetch</servlet-name>
  <url-pattern>/getsubjectsAdminFetch</url-pattern>
</servlet-mapping>

</web-app>

